In [4]:
import tensorflow as tf
import random
import pandas as pd

In [5]:
root_dir='Dataset/'
file_train_instances = root_dir+"train_stances.csv"
file_train_bodies = root_dir+"train_bodies.csv"
file_test_instances = root_dir+"test_stances_unlabeled.csv"
file_test_bodies = root_dir+"test_bodies.csv"
file_predictions = root_dir+'predictions_test.csv'

In [7]:
train_bodies=pd.read_csv(file_train_bodies)
train_stances=pd.read_csv(file_train_instances)
train_bodies.head()

   Body ID                                        articleBody
0        0  A small meteorite crashed into a wooded area i...
1        4  Last week we hinted at what was to come as Ebo...
2        5  (NEWSER) – Wonder how long a Quarter Pounder w...
3        6  Posting photos of a gun-toting child online, I...
4        7  At least 25 suspected Boko Haram insurgents we...

In [10]:
print(train_stances.size)
train_stances.head()

149916

                                            Headline  Body ID     Stance
0  Police find mass graves with at least '15 bodi...      712  unrelated
1  Hundreds of Palestinians flee floods in Gaza a...      158      agree
2  Christian Bale passes on role of Steve Jobs, a...      137  unrelated
3  HBO and Apple in Talks for $15/Month Apple TV ...     1034  unrelated
4  Spider burrowed through tourist's stomach and ...     1923   disagree

In [15]:
train_dataset=pd.merge(train_bodies,train_stances,on='Body ID')
train_dataset.head()
# train_dataset['Stance'].describe()

,Body ID,articleBody,Headline,Stance
0,0,A small meteorite crashed into a wooded area i...,"Soldier shot, Parliament locked down after gun...",unrelated
1,0,A small meteorite crashed into a wooded area i...,Tourist dubbed ‘Spider Man’ after spider burro...,unrelated
2,0,A small meteorite crashed into a wooded area i...,Luke Somers 'killed in failed rescue attempt i...,unrelated
3,0,A small meteorite crashed into a wooded area i...,BREAKING: Soldier shot at War Memorial in Ottawa,unrelated
4,0,A small meteorite crashed into a wooded area i...,Giant 8ft 9in catfish weighing 19 stone caught...,unrelated

In [19]:
X_train=train_dataset.drop(['Body ID','Stance'],axis=1).to_numpy()
y_train=train_dataset.drop(['Body ID','Headline','articleBody'],axis=1).to_numpy()
print(X_train.shape[0])

49972

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
# Initialise hyperparameters
r = random.Random()
lim_unigram = 5000
target_size = 4
hidden_size = 100
train_keep_prob = 0.6
l2_alpha = 0.00001
learn_rate = 0.01
clip_ratio = 5
batch_size_train = 500
epochs = 90

In [4]:
raw_train = FNCData(file_train_instances, file_train_bodies)
raw_test = FNCData(file_test_instances, file_test_bodies)
n_train = len(raw_train.instances)